p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.message, .warning, .bookm {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.message:before {
    content: "\f27a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 25px;
 }
 
.warning:before {
    content: "\f071";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 25px;
 }
 
.bookm:before {
    content: "\f02e";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 25px;
 }